{% extends "base.html" %}
{% block title %} Madlib Result {% endblock %}
{% block content %} 

<h1> Here is your madlib! </h1>

There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
When {{ name }} went to pick it up, it burst into flames in a totally
{{ adjective }} way. Fortunately, you were there. You called the Paw Patrol and they said,

{% if heroes|length < 1 %}

"Sorry! We're busy, but you can save the day!""

{% elif heroes|length == 1 %}

"{{heroes[0]}} is on the way"

{% else %}
"{% for hero in heroes %} {{hero}} {% endfor %} are on the way"

 {% endif %}

{% endblock %}